{{ template "header" . }}

{{ template "menu" .}}

<section class="content-main-w3" id="home">

  <div class="row" style="background: #f8f8f8;">
    <div class="main_content col-lg-9 col-md-10 col-sm-10 col-12 p-4" style="margin: 0 auto;">

      <h2>Copyright</h2>
      <br/>
      <div class="main_content">
        <p>
          If you suspect that the content posted at gigame.com violates your copyrights, please contact us. All inquiries regarding copyrights, please <a href="/contact">Contact Us</a>.
        </p>
        <p>
          All materials presented on Scorenga.com service are protected by the copyrights of their respective owners and posted with their consent or have Creative Commons License.
        </p>
      </div>

    </div>
  </div>
  {{ template "footer" . }}
</section>

{{ template "endpage" . }}