{{ template "header" . }}

<div id="back-to-home" onclick="backToHome()">
  <img src="/assets/images/home.png"/>
</div>
<div id="mobgi-game-screen">
  <iframe src="" allowfullscreen="allowfullscreen" class="game-iframe"></iframe>
</div>

<script>
  const game = document.querySelector("#mobgi-game-screen > .game-iframe");
  game.setAttribute('src',"{{.game.GameUrl}}");
</script>

<script src="/assets/js/mobgi-game-runtime.js"></script>

{{ template "endpage" . }}
