{{ template "header" . }}

{{ template "menu" .}}

<section class="content-main-w3" id="home">

  <div class="row" style="background: #f8f8f8;">
    <div class="main_content col-lg-9 col-md-10 col-sm-10 col-12 p-4" style="margin: 0 auto;">

      <h2>COMPANY</h2>
      <br/>
      <div class="main_content">
        <h3>
          gigame - Play Games
        </h3>
        <br/>
        <p>
          gigame is a browser game platform that features the best free online games.
          All of our games run in the browser and can be played instantly without downloads or installs.
          You can play on gigame on any device, including laptops, smartphones, and tablets.
          This means that whether you are at home, at school, or at work, it's easy and quick to start playing! Every month lots of people play our games.
          We publish new Html5 games every month and currently have more than 1.000 which you can freely play, without any download or installation.
        </p>
        <p>
          Our games are all free and unblocked, you won't have to pay a cent to play and have fun with them.
          They are also safe and secure, your device will be happy to surf through our website and explore its pages, its battery may be less content though
          ;) We feature over 500 games in all genres that you can imagine.
        </p>
        <p>
          Should you have any feedback for us, please don't hesitate to reach out.
        </p>
        <p>
          Have fun on gigame!
        </p>
        <p>
          Discover all games!
        </p>
      </div>

    </div>
  </div>
  {{ template "footer" . }}
</section>

{{ template "endpage" . }}