{{define "endpage"}}


<!--//footer-->
<script src="/assets/js/jquery-2.2.3.min.js"></script>
<script src='/assets/js/aos.js'></script>
<script>
  AOS.init({
    easing: 'ease-out-back',
    duration: 1000
  });
</script>

<!--  light box js -->
<!--<script src="assets/js/lightbox-plus-jquery.min.js"></script>-->
<!-- //light box js-->
<!--/ start-smoth-scrolling -->
<script src="/assets/js/move-top.js"></script>
<script src="/assets/js/easing.js"></script>
<script>
  jQuery(document).ready(function ($) {
    $(".scroll").click(function (event) {
      event.preventDefault();
      $('html,body').animate({
        scrollTop: $(this.hash).offset().top
      }, 900);
    });
  });
</script>
<script>
  $(document).ready(function () {
    $().UItoTop({
      easingType: 'easeOutQuart'
    });

  });
</script>
<!--// end-smoth-scrolling -->

<!-- //js -->
<script src="/assets/js/bootstrap.js"></script>

</body>
</html>


{{end}}