{{define "menu"}}

<div class="header_top_w3ls">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <li class='nav-item'>
          <a class="nav-link" href="/">
            <img src="/assets/images/logo.png" class="mobgi-game-logo"/>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

{{end}}